<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form class="grid" action ="/result" method="POST">
            <center>
                {% if name %}
                <h3 style="color: blue;">Hello {{name}},How are you?</h3>
                {% endif %}
            </center>
            <p>Terms of the Service:<br>Your chat data will be completely removed from our files upon termination of the services</p>
            <label for ="Allowr">Do you agree to the Terms of the services(YES/NO)</label>
            <input type="text" name="Allowr" id="Allowr">
            
            <label for ="Name">Enter Name: </label>
            <input type="text" name="name" id="name">
            <center><input type="submit" class="file_s"></center>
        </form>
    </body>
</html>
